<!-- <div class="container-fluid "> -->
    <!-- <div class="row content-row navbar"> -->
    <nav class="site-nav" id="site-nav">
        <a href="/"><h2>//markWith</h2></a>
        <a href="/documents">Documents</a>
        <a href="/user/account">Settings</a>

        <div id="logout"><a href="#">Logout</a></div>
      </nav>

      <div class="page-wrap">
      <header class="main-header">
                <a href="#site-nav"><i class="fa fa-cog" aria-hidden="true"></i>
          </a>
                <a href="#" class="close-menu"><i class="fa fa-cog" aria-hidden="true"></i>
          </a>
      </header>

<section id="section2">
    <div class="header-row"><h2>Documents + Collaborations</h2></div>
<div class="container">
      <div id="user-documents"><table class="table table-condensed">
            <thead>
              <tr>
                <th>Document</th>
                <th># Collaborators</th>
                <th>Collaborators</th>
                <th>Last Modified</th>
              </tr>

            </thead>
            <tbody>
                {{# if docs.length}}
                {{# each docs }}
              <tr>
                  {{# each this }}
                <!-- //clicking takes you to document -->
                <td><a href="/documents/{{this._id}}">{{this.docName}}</a></td>
                <td>{{totalCollabs }}</td>
                <td>{{this.collabs_emails}}</td>
                <td>{{this.lastModified}}</td>
              </tr>
            </tbody>
          </table>
          {{/each}}
        </div>
        {{/each}}
      </div>
  </section>
</div>

</div>

</div>
{{/if}}
<script src="/javascript/documents.js"></script>
